body {
  margin: 0 auto;
  background-image: url("../images/background3.jpg");
}

/*HEADER BEGIN*/
header {
  position: fixed;
  top: 0;
  Left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: #2b2c2c;
  box-sizing: border-box;
}

header .header_logo {
  width: 70px;
  position: relative;
  font-size: 1.5em;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
  box-sizing: border-box;
}

header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .navigation li {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

header .navigation li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}

header .navigation li a:hover {
  color: rgb(33, 136, 79);
}

header .search {
  position: relative;
  width: 300px;
  height: 40px;
}

header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 10px 0 45px;
  box-sizing: border-box;
}

header .search input::placeholder {
  color: aliceblue;
}

header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: white;
  border-right: 1px solid white;
  padding-right: 4px;
}

@media (max-width: 650px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  header .search {
    width: 100%;
    box-sizing: border-box;
  }
}

/*HEADER END*/

/*CARD BEGIN*/
.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  border-bottom: 5px solid greenyellow;
  border-left: 5px solid greenyellow;
  border-right: 5px solid greenyellow;
  border-top: 5px solid greenyellow;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;
}

.product-item:hover {
  border-bottom: 5px solid orange;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  border-top: 5px solid orange;
}

.product-item img {
  display: block;
  height: 300px;
  width: 200px;
  width: 100%;
}

.product-list {
  background: #2b2c2c;
  padding: 15px 0;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 0 0 10px 0;
}

.price {
  font-size: 16px;
  color: white;
  display: block;
  margin-bottom: 12px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: greenyellow;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
}

.product-item:hover .button {
  background: orange;
}

.products {
  display: flex;
}

/*CARD END*/

/*FOOTER BEGIN*/
footer {
  padding: 10px;
  color: white;
  min-height: 80%;
  background: #2b2c2c;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
}

footer img {
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

footer span {
  padding: 20px;
  font-size: 20px;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}

@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

footer span:hover {
  animation: bounce 1s;
}

/*FOOTER END*/

@media (max-width: 1000px) {

  footer {
    padding: 10px;
    color: white;
    min-height: 80%;
    background: #2b2c2c;
    margin: 0 auto;
    justify-content: space-between;
    display: block;
  }

  footer span {
    padding: 20px;
    display: block;
  }

}

@media screen and (max-width: 1000px) {
  .products {
    display: block;
  }
}