.wrapper h1 {
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

.list h1 {
    text-align: left;
}

@media (max-width: 991px) {
    .list {
        height: auto;
        width: 100%;
    }
}