.body, .html {
    background-color: black;
    color: white;
    min-height: 100vh;
}

.body .btn.loginBtn {
    margin-top: 10px;
    border-color: #28A745;
    background-color: #28A745;
}

.body .btn.toLoginBtn, .body .btn.toAppBtn {
    background-color: #17A2B8;
    border-color: #17A2B8;
}

.body .toLoginLbl {
    margin-right: 10px;
}

.inputError {
    color: red;
    display: inline-block;
    margin-left: 5px;
}