.puzzle a {
    margin-left: 10px;
    color: white;
    background-color: #17A2B8;
}

.filter button {
    color: white;
    margin-right: 5px;
    background-color: #17A2B8;
    border-color: #17A2B8;
}

.form-inline .btn-success {
    margin-top: 5%;
    background-color: #28A745;
}

.ul.list-group .li {
    margin-bottom: 10px;
}

.changePuzzleTypeForm select {
    margin-right: .5rem !important;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center / 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    word-wrap: normal;
    margin-top: 30%;
}