<html lang="en-us">

<head>
    <title>Шашки</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/game.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width; initial-scale=1">
</head>

<body>

<%- include('common/header.html') %>
<%
let playerColor = color;
let opponentColor = playerColor === 'white' ? 'black' : 'white';
let playerCheckerImg = '../images/' + playerColor + 'Checker.png';
let opponentCheckerImg = '../images/' + opponentColor + 'Checker.png';
%>

<div class="hidden" id="aiGame"><%- aiGame %></div>
<div class="hidden" id="opponentColor"><%- opponentColor %></div>
<div class="hidden" id="level"><%- level %></div>
<div class="hidden" id="gameId"><%- gameId %></div>

<div id="winOverlay" class="overlay hidden">
    <div class="modal">
        <h2>Игра окончена!</h2>
        <p>Поздравляем! Вы победили!</p>
        <a href="/main" class="button">Главная страница</a>
    </div>
</div>

<div id="defeatOverlay" class="overlay hidden">
    <div class="modal">
        <h2>Игра окончена!</h2>
        <p>К сожалению, вы проиграли! Повезет в следующий раз!</p>
        <a href="/main" class="button">Главная страница</a>
    </div>
</div>

<div class="square">
    <% if (playerColor === 'white') { %>
        <div class="white" id="A8"></div>
        <div class="black" id="B8"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="C8"></div>
        <div class="black" id="D8"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="E8"></div>
        <div class="black" id="F8"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="G8"></div>
        <div class="black" id="H8"><img src=<%- opponentCheckerImg %>></div>

        <div class="black" id="A7"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="B7"></div>
        <div class="black" id="C7"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="D7"></div>
        <div class="black" id="E7"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="F7"></div>
        <div class="black" id="G7"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="H7"></div>

        <div class="white" id="A6"></div>
        <div class="black" id="B6"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="C6"></div>
        <div class="black" id="D6"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="E6"></div>
        <div class="black" id="F6"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="G6"></div>
        <div class="black" id="H6"><img src=<%- opponentCheckerImg %>></div>

        <div class="black" id="A5"></div>
        <div class="white" id="B5"></div>
        <div class="black" id="C5"></div>
        <div class="white" id="D5"></div>
        <div class="black" id="E5"></div>
        <div class="white" id="F5"></div>
        <div class="black" id="G5"></div>
        <div class="white" id="H5"></div>

        <div class="white" id="A4"></div>
        <div class="black" id="B4"></div>
        <div class="white" id="C4"></div>
        <div class="black" id="D4"></div>
        <div class="white" id="E4"></div>
        <div class="black" id="F4"></div>
        <div class="white" id="G4"></div>
        <div class="black" id="H4"></div>

        <div class="black" id="A3"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="B3"></div>
        <div class="black" id="C3"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="D3"></div>
        <div class="black" id="E3"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="F3"></div>
        <div class="black" id="G3"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="H3"></div>

        <div class="white" id="A2"></div>
        <div class="black" id="B2"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="C2"></div>
        <div class="black" id="D2"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="E2"></div>
        <div class="black" id="F2"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="G2"></div>
        <div class="black" id="H2"><img src=<%- playerCheckerImg %>></div>

        <div class="black" id="A1"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="B1"></div>
        <div class="black" id="C1"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="D1"></div>
        <div class="black" id="E1"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="F1"></div>
        <div class="black" id="G1"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="H1"></div>
    <% } else { %>
        <div class="white" id="H1"></div>
        <div class="black" id="G1"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="F1"></div>
        <div class="black" id="E1"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="D1"></div>
        <div class="black" id="C1"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="B1"></div>
        <div class="black" id="A1"><img src=<%- opponentCheckerImg %>></div>

        <div class="black" id="H2"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="G2"></div>
        <div class="black" id="F2"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="E2"></div>
        <div class="black" id="D2"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="C2"></div>
        <div class="black" id="B2"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="A2"></div>

        <div class="white" id="H3"></div>
        <div class="black" id="G3"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="F3"></div>
        <div class="black" id="E3"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="D3"></div>
        <div class="black" id="C3"><img src=<%- opponentCheckerImg %>></div>
        <div class="white" id="B3"></div>
        <div class="black" id="A3"><img src=<%- opponentCheckerImg %>></div>

        <div class="black" id="H4"></div>
        <div class="white" id="G4"></div>
        <div class="black" id="F4"></div>
        <div class="white" id="E4"></div>
        <div class="black" id="D4"></div>
        <div class="white" id="C4"></div>
        <div class="black" id="B4"></div>
        <div class="white" id="A4"></div>

        <div class="white" id="H5"></div>
        <div class="black" id="G5"></div>
        <div class="white" id="F5"></div>
        <div class="black" id="E5"></div>
        <div class="white" id="D5"></div>
        <div class="black" id="C5"></div>
        <div class="white" id="B5"></div>
        <div class="black" id="A5"></div>

        <div class="black" id="H6"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="G6"></div>
        <div class="black" id="F6"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="E6"></div>
        <div class="black" id="D6"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="C6"></div>
        <div class="black" id="B6"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="A6"></div>

        <div class="white" id="H7"></div>
        <div class="black" id="G7"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="F7"></div>
        <div class="black" id="E7"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="D7"></div>
        <div class="black" id="C7"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="B7"></div>
        <div class="black" id="A7"><img src=<%- playerCheckerImg %>></div>

        <div class="black" id="H8"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="G8"></div>
        <div class="black" id="F8"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="E8"></div>
        <div class="black" id="D8"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="C8"></div>
        <div class="black" id="B8"><img src=<%- playerCheckerImg %>></div>
        <div class="white" id="A8"></div>
    <% } %>
</div>

<%- include('common/footer.html') %>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="../script/game.js"></script>
</body>
<script>

</script>
</html>